.tab p {
    color: white;
    transition: color 0.2s;
}

.tab:hover p {
    color: #4B9B9B;
}

div#side-menu {
    width: 310px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    float: left;
}

div#side-menu>div {
    font-family: 'Montserrat', sans-serif;
    color: #E6EFEF;
    margin-left: 10px;
}

div.big-tab>div.tab {
    margin-left: 20px;
}

div.view {
    display: none;
    float: right;
    width: 73%;
    margin: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #4E5C93EB;
    padding: 10px;
}

div.view a {
    color: white;
    background-color: #4B9B9B;
}

div.view li, div.view h3 {
    margin: 10px;
}

div.view h3 {
    text-align: center;
}

div.view>img {
    max-width: 80%;
    margin: 20px;
    text-align: center;
}

#one, #two {
    display: none;
}

div.input {
    margin: 15px;
}

/* lab 5 */


.navbar-vert {
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 45px;
    background: #4B9B9B;
    overflow: hidden;
}

.navbar a, .navbar-vert a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.2s linear;
}



.navbar a:hover {
    background-color: #4E5C93EB;
}

.dropdown, .dropdown-vert {
    background-color: #4B9B9B;
    float: left;
    overflow: hidden;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.navbar-vert a, .dropdown-vert{
    text-align: left;
    width: 200px;
}

.dropdown:hover, .dropdown-vert:hover {
    background-color: #4E5C93EB;
}

.dropbtn {
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content-vert{
    display: none;
    position: absolute;
    opacity: 95%;
    left: 595px;
    top: 400px;
}

.dropdown-content-vert a{
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.2s linear;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 520px;
    top: 180px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.2s linear;
}

.dropdown-content a:hover, .dropdown-content-vert a:hover {
    background-color: #4E5C93EB;
}

.show {
    display: block;
}